
.container{
    width: 500px;
    height: 500px;
    margin: auto;
}

body {
    font-family: Arial, sans-serif;  /* Sets the font family */
}
  
h1{
    color: blue;
    font-size: 2em;                
}

.p1{
    color: red;
}

.p2{
    color: aqua;
}